In [1]:
def next_in_line(l,x):
    l.pop(0)
    l.append(x)
    return l

In [2]:
next_in_line([5,6,7,8,9],1)

[6, 7, 8, 9, 1]

In [14]:
def get_budgets(l1):
    add=0
    for i in l1:
        k=i.get("budget")
        add=add+k
    return add

In [15]:
get_budgets([
{ "name":"John","age": 21,"budget": 23000 },
{"name":"Steve","age": 32,"budget": 40000 },
{"name":"Martin","age": 16,"budget": 2700 }
])

65700

In [20]:
def alphabet_soup(str):
    return ''.join(sorted(str))

In [22]:
alphabet_soup("hello")

'ehllo'

In [28]:
def compound_interest(p,t,r,n):
    k=1+r/n
    po=n*t
    x=pow(k,po)
    amount="{:.2f}".format(p*x)
    return float(amount)

In [29]:
compound_interest(3500,15,0.1,4)

15399.26

In [30]:
def return_only_integer(lis):
    l1=[]
    for i in lis:
        if type(i)==int:
            l1.append(i)
    return l1

In [31]:
return_only_integer([1,"a","b",4,5,"c"])

[1, 4, 5]